version: '3.8'

services:
  # Брокер сообщений (Очереди)
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rex_rabbitmq
    ports:
      - "5672:5672"   # Для кода
      - "15672:15672" # Веб-админка (логин/пароль: guest/guest)
    volumes:
      - rabbit_data:/var/lib/rabbitmq
    restart: always

  # Кэш и FSM
  redis:
    image: redis:7-alpine
    container_name: rex_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data:
  rabbit_data: