global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # cAdvisor собирает статистику по контейнерам (CPU, RAM)
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']